/* ===== Eric Meyer Reset ===== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    ;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ====== NAVBAR ====== */

#navbar {
    position: relative;
    display: flex;
    justify-content: center;
    top: 1rem;
}

#navbar > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
}

/* ====== LANDING PAGE ====== */

.landing {
    background-image: url("images/kaye.jpg");
    height: 100vh;
    display: flex;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo {
    display: flex;
    position: relative;
    align-items: center;
    left: 9rem;
    flex-direction: column;
    justify-content: center;
}

#logo .logo {
    font-size: 4rem;
    text-align: center;
}

/*
 ====== FOOTER ====== 


#footer {
    position: absolute;
    padding: 1rem;
    bottom: .5rem;
    left: 1rem;
}

.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}
*/


@media (min-device-width: 375px) and (max-width: 600px) {
    #navbar {
        position: relative;
        display: flex;
        justify-content: center;
        top: 1rem;
    }

    #navbar > li > a {
        text-decoration: none;
        font-size: 1rem;
        padding: .7rem;
        color: white;
    }

    #logo {
        display: flex;
        position: relative;
        align-items: center;
        left: 1rem;
        flex-direction: column;
        justify-content: center;
    }

    #logo .logo {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    /* ====== FOOTER ====== */
    #footer {
        position: absolute;
        padding: 1rem;
        bottom: .5rem;
        left: 1rem;
    }

    .fa {
        padding: 10px;
        font-size: 2rem;
        width: 20px;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-instagram {
        background: grey;
        color: white;
    }
    
    .fa-facebook {
        background: grey;
        color: white;
    }

}
